body{    
    margin: 0em;
}

.cover{
    height:400px;
    background-image: url(https://cdn.glitch.com/b9a71677-803b-45dd-994c-3de96a97c490%2Frsz_karl-fredrickson-tyizeciz_60-unsplash.jpg?v=1573589866321);
    color: white;
    background-size: cover;
    background-position: center;    
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: darken;
}

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}